:root {
    --background: white;
    --foreground: black;
    --accent: white;
}

html, body {
    margin: 0;
    padding: 0;

    background: var(--background);
    color: var(--foreground);

    font-family: sans-serif;
    font-weight: 100;
}

body {
    width: 100%;
    max-width: 1366px;

    margin: auto;
}

.header {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background: var(--accent);
    border-bottom: 1px solid var(--background)
}

.header > * {
    display: inline-block;
}

.header > h3 {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > a {
    background: white;
    position: relative;
    border: 2px solid var(--background);

    color: white;
    text-decoration: none;
    cursor: pointer;
}

.grid > a > span {
    text-align: center;
    width: 100%;
    font-weight: 400;
}

.grid > a > span:first-child{
    position: absolute;
    top: 10px;
}

.grid > a > span:last-child{
    position: absolute;
    bottom: 10px;
}

.grid > a > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
}